.mt-40 {
  margin-top: 40px;
}

.bold-font {
  font-weight: bold;
}

.lighter-font{
  font-weight: lighter;
}

.ArtDetails {
  background-color: #e8e7e7;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 56px);
}

.ArtDetails-header {
  text-align: center;
  padding: 40px;
}

.ArtDetails-image {
  width: 100%;
  height: 100%;
}
